#logo img  {
    height: 60px;
    width: auto;
}

#main-menu {
    padding-top: 3.5rem;
}

#main-menu #main-nav .nav-link {
    color: #999999;
}

#main-menu #main-nav .nav-link:active,
#main-menu #main-nav .nav-link.selected {
    color: #971028;
}
.bg-jumbo {
    background: url('../img/slider-bg.jpg') no-repeat center center;
    position: fixed;
    width: 100%;
    height: 601px; /*same height as jumbotron */
    top:0;
    left:0;
    z-index: -1;
}

.jumbotron {
    height: 601px;
    padding-top: 2.5rem;
    background: transparent;
    margin-bottom: 0;
}
#main-slider * {
    color:white;
}

#main-slider input {
    color: #5c5a5f;
}
#main-slider .fa-telegram {
    color: #971028;
}

.teal.lighten-5 {
    background-color: #e0f2f1!important
}

.teal.lighten-4 {
    background-color: #b2dfdb!important
}

.teal.lighten-3 {
    background-color: #80cbc4!important
}

.teal.lighten-2 {
    background-color: #4db6ac!important
}

.teal.lighten-1 {
    background-color: #26a69a!important
}

.teal {
    background-color: #009688!important
}

.teal-text {
    color: #009688!important
}


.rgba-teal-slight,.rgba-teal-slight:after {
    background-color: rgba(0,150,136,.1)
}

.rgba-teal-light,.rgba-teal-light:after {
    background-color: rgba(0,150,136,.3)
}

.rgba-teal-strong,.rgba-teal-strong:after {
    background-color: rgba(0,150,136,.7)
}

.teal.darken-1 {
    background-color: #00897b!important
}

.teal.darken-2 {
    background-color: #00796b!important
}

.teal.darken-3 {
    background-color: #00695c!important
}

.teal.darken-4 {
    background-color: #004d40!important
}

.teal.accent-1 {
    background-color: #a7ffeb!important
}

.teal.accent-2 {
    background-color: #64ffda!important
}

.teal.accent-3 {
    background-color: #1de9b6!important
}

.teal.accent-4 {
    background-color: #00bfa5!important
}

.teal *{
    color: #FFFFFF;
}
footer.page-footer .footer-copyright {
    overflow: hidden;
    background-color: rgba(0,0,0,.2);
    color: rgba(255,255,255,.6)
}
